<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tr *ngFor="let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.userID}}</td>
        <td>{{customer.companyName}}</td>
  
    </tr>
  </table>